@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Futuristic Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020408;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}